<form class="example-form">
  <h1 mat-dialog-title>Sign in</h1>
  <mat-form-field class="login-form-field">
    <input matInput
           cdkFocusInitial
           placeholder="Account name"
           [formControl]="loginForm.get('username')"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="loginForm.get('username').hasError('required')">
      Account name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="login-form-field">
    <input matInput
           placeholder="Enter password"
           [formControl]="loginForm.get('password')"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" class="mat-primary" [mat-dialog-close]="loginForm" [disabled]="!loginForm.valid">Login</button>
</form>
