<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <span class="app-toolbar-spacer"></span>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item>
        <mat-icon>cancel</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>


<h1>Angular Router</h1>
<nav>
  <a routerLink="/character-list" routerLinkActive="active">Character List</a>
  <a routerLink="/character" routerLinkActive="active">Character</a>
</nav>
<router-outlet></router-outlet>
